<br>
<div id="divCreaEvent">
  <p id ="titre">Création d'un nouvel événement</p>
  <form class="example-form" (ngSubmit)="insertEvent()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Titre" [(ngModel)]="event.titre" name="titre" value="Mon événement">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" [(ngModel)]="event.description" name="descritpion"></textarea>
    </mat-form-field>

    <mat-form-field style="margin-bottom: 5px" class="example-full-width" hintLabel="Format : dd/MM/yy">
      <input matInput #input [(ngModel)]="event.dateEvent" name="dateEvent" maxlength="8" placeholder="Date de l'événement">
    </mat-form-field>

    <mat-form-field style="margin-bottom: 20px" class="example-full-width" hintLabel="Format : HH:mm">
      <input matInput #input [(ngModel)]="event.horaire" name="horaire" maxlength="5" placeholder="Heure de l'événement">
    </mat-form-field>

    <!--<mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>-->

    <mat-select style="margin-bottom: 20px;" [(ngModel)]="event.sport" name="sport" placeholder="Choisir le Sport">
      <mat-option *ngFor="let sport of Sports" [value]="sport">
        {{sport.nom}}
      </mat-option>
    </mat-select>

    <button mat-stroked-button color="primary">Valider</button>
  </form>
</div>