<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="container">
  <center>
  <h2>Connexion</h2>
  <p>Bienvenue chez nous! Ici on aime le sport!</p>
  </center>
  <form>
    <center>
    <div class="form-group" style="width:60%;text-align:left">
      <label for="usr" >Pseudo:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    
    <div class="form-group" style="width:60%;text-align:left">
      <label for="pwd">Mot de passe:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="form-group" style="width:60%;text-align:left">
      <a >Inscrivez-vous</a>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block" style="width:60%">Valider</button>
  </center>
  </form>
 
</div>