<meta charset="utf-8">


<div class="container">
  <h1 style="color:rgb(83, 15, 146)">Connexion</h1>
  <h5>Bienvenue sur SportToGo !</h5>
  <br>
  
  <form class="example-form" #myform="ngForm" (ngSubmit)="connect()">
    <mat-form-field class="example-full-width">
      <input matInput name="pseudo" #pseudoAction="ngModel" [(ngModel)]="user.pseudo" placeholder="Pseudo" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput type="password" name="mdp" #mdpAction="ngModel" [(ngModel)]="user.mdp" placeholder="Password" required>
    </mat-form-field>
    <br>
    <div id="mes" *ngIf="show">{{message}}</div>
    <br>
      <button type="submit" mat-raised-button color="primary">Se connecter</button>
  </form>
  <br>
  <button (click)="inscrireF()" mat-raised-button color="primary">S'inscrire ?</button>
</div>

