<!--<div id="container">
<div id="row">
  <div class="col-3" *ngFor="let data of tousEvents" id="divCard">
    <mat-card class="example-card" id="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title id="titre">{{data.titre}}
          </mat-card-title>
          <mat-card-subtitle id="nomsport">{{data.sport.nom}}</mat-card-subtitle>
          <mat-card-subtitle id="date">{{data.dateEvent}} - {{data.horaire}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{data.sport.lien}}" alt="">
        <mat-card-content>
          <p id="description">
            {{data.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
        <a href="http://localhost:4200/afficheevent"><button [disabled]="listeParticipants[data.id-1]>=data.sport.nbrMax" mat-stroked-button color="primary" (click)="participer(data)">Participer</button></a>
        </mat-card-actions>
        <mat-hint align="end">{{listeParticipants[data.id-1] || 0}}/{{data.sport.nbrMax}}</mat-hint>
        <div [hidden]="listeParticipants[data.id-1]<data.sport.nbrMax">
          <p style="color: orangered; font-size: 12px">Complet</p>
        </div>
      </mat-card>
    </div>
</div>
</div>-->

<!--<div id="todo">
  <div *ngFor="let data of tousEvents" id="divCard" (click)="openDialog(data.id)">
    <div id="titre"><span id="titrecontent">{{data.titre}}</span></div>
    <div id="date">{{data.dateEvent}} - {{data.horaire}}</div>  
    <img id="image" src="{{data.sport.lien}}" alt="">
    <div id=desc> {{data.description}} </div>
    <div id="particip">
    <button [disabled]="(data.nbrParticipants+1)>=data.sport.nbrMax" mat-stroked-button color="primary" (click)="participer(data)">Participer</button>
    </div>
      <div id="nbparticip">{{data.nbrParticipants+1}}/{{data.sport.nbrMax}}</div>
      <div [hidden]="(data.nbrParticipants+1)<data.sport.nbrMax">
        <p id="full">Complet</p>
      </div>
  </div>
  
</div>-->

<div id="todo">
  <div *ngFor="let data of tousEvents" class="divCard">
    <div *ngIf="checkReset()"></div>
    <div *ngFor="let monEvent of mesEvent">
      <div *ngIf="checkAfficheEvent(data.id,monEvent.id)">  

        <div class="titre" (click)="openDialog(data.id)"><span id="titrecontent">{{data.titre}}</span></div>
        <div class="date" (click)="openDialog(data.id)">{{data.dateEvent}} - {{data.horaire}}</div>
        <img class="image" src="{{data.sport.lien}}" alt="" (click)="openDialog(data.id)">
        <div class="desc" (click)="openDialog(data.id)"> {{data.description}} </div>
        <div class="ligne">
          <div class="nbparticip" (click)="openDialog(data.id)">{{data.nbrParticipants+1}}/{{data.nbrmax}}</div>
          <div class="particip" (click)="openDialog(data.id)">
            <button [disabled]="true" mat-stroked-button color="primary" (click)="participer(data)">Participer</button>
          </div>
          <div class="eventfull" [hidden]="(data.nbrParticipants+1)<data.nbrmax" (click)="openDialog(data.id)">
              Full
          </div>
        </div>
        <div (click)="openDialog(data.id)">
          <p class="crea">Je participe déjà à cet événement</p>
        </div>
      </div> 
    </div>

      <div [hidden]="eventAffiche">
        <div class="titre" (click)="openDialog(data.id)"><span id="titrecontent">{{data.titre}}</span></div>
        <div class="date" (click)="openDialog(data.id)">{{data.dateEvent}} - {{data.horaire}}</div>  
        <img class="image" src="{{data.sport.lien}}" alt="" (click)="openDialog(data.id)">
        <div class="desc" (click)="openDialog(data.id)"> {{data.description}} </div>
        <div class="ligne">
          <div class="nbparticip" (click)="openDialog(data.id)">{{data.nbrParticipants+1}}/{{data.nbrmax}}</div>
          <div class="particip">
            <button [disabled]="(data.nbrParticipants+1)>=data.nbrmax||data.createur.id==myservice.user.id" mat-stroked-button color="primary" (click)="participer(data)">Participer</button>
          </div>
          <div class="eventfull" [hidden]="(data.nbrParticipants+1)<data.nbrmax" (click)="openDialog(data.id)">
            Full
          </div>
        </div>
        <div [hidden]="data.createur.id!=myservice.user.id" (click)="openDialog(data.id)">
          <p class="crea">Je suis le créateur de cet événement</p>
        </div> 
 
      </div>   
  </div>
</div>