<div id="todo">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>titre de l'event
          </mat-card-title>
          <mat-card-subtitle>Nom du sport</mat-card-subtitle>
          <mat-card-subtitle>Date</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/tennis-event.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Description
            <br>
            blablablablablablablabla
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Participer</button>
        </mat-card-actions>
      </mat-card>

      
    </div>
