<div id="container">
<div id="row">
  <div class="col-3" *ngFor="let data of tousEvents" id="divCard">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{data.titre}}
          </mat-card-title>
          <mat-card-subtitle>{{data.sport.nom}}</mat-card-subtitle>
          <mat-card-subtitle>{{data.dateEvent}} - {{data.horaire}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{data.sport.lien}}" alt="">
        <mat-card-content>
          <p>
            {{data.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Participer</button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
</div>
  