.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% ;
    min-width: 600px;
  }

#logo{
    position: relative;
    height:93%;
    width: 90px;;
    background-color: rgb(50, 5, 155);
    left:0%;
}

.example-spacer {
    flex: 1 1 auto;
  }