<div id="divCreaEvent">
    <p id ="titre">Création d'un nouvel événement</p>
    <form class="example-form" #monform="ngForm" (ngSubmit)="modifEvent()">
      <mat-form-field class="example-full-width">
        <input matInput name="titre" #titreAction ="ngModel" [(ngModel)]="event.titre" placeholder="Titre" required>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <textarea matInput name="descritpion" #descriptionAction ="ngModel" [(ngModel)]="event.description" placeholder="Description"></textarea>
      </mat-form-field>
  
      <mat-form-field style="margin-bottom: 5px" class="example-full-width" hintLabel="Format : dd/MM/yy">
        <input matInput name="dateEvent" #dateEventAction ="ngModel" [(ngModel)]="event.dateEvent" maxlength="8" placeholder="Date de l'événement" required>
      </mat-form-field>
  
      <mat-form-field style="margin-bottom: 20px" class="example-full-width" hintLabel="Format : HH:mm">
        <input matInput name="horaire" #horairetAction ="ngModel" [(ngModel)]="event.horaire" maxlength="5" placeholder="Heure de l'événement" required>
      </mat-form-field>
  
      <!--<mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>-->
  
      <mat-select style="margin-bottom: 20px;" name="sport" #sportAction ="ngModel" [(ngModel)]="event.sport"  placeholder="Choisir le Sport *" required>
        <mat-option *ngFor="let sport of Sports" [value]="sport">
          {{sport.nom}}
        </mat-option>
      </mat-select>
      <div id="mes" *ngIf="show">{{message}}</div>
      <button type="submit" mat-stroked-button color="primary">Valider</button>
    </form>
  
  </div>