<div id="todo">
  <div *ngFor="let event of mesEvents" class="divCard">
    <div class="titre" (click)="openDialog(event.id)"><span id="titrecontent">{{event.titre}}</span></div>
    <div class="date" (click)="openDialog(event.id)">{{event.dateEvent}} - {{event.horaire}}</div>
    <img class="image" src="{{event.sport.lien}}" alt="" (click)="openDialog(event.id)">
    <div class="desc" (click)="openDialog(event.id)"> {{event.description}} </div>
    <div class="nbparticip" (click)="openDialog(event.id)">Participants : {{event.nbrParticipants+1}}/{{event.nbrmax}}</div>
    <div class="eventfull" [hidden]="(event.nbrParticipants+1)<event.nbrmax" (click)="openDialog(event.id)">
      Full
    </div>
    <div class="modif">
      <button mat-stroked-button color="primary" (click)="modifier(event)">Modifier</button>
    </div>
    <div class="suppr">
      <button mat-stroked-button color="primary" (click)="supprimer(event)">Supprimer</button>
    </div>
  </div> 
</div>
